*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto Mono', monospace;
	margin: 0;
	background: #fcfcfc;
	color: #3d3d3d;
	font-size: 1.2rem;
}

img {
	display: block;
	max-width: 100%;
}

section {
	padding: 0.4em 1em 2em;
}

section + section {
	line-height: 1.6;
}

header {
	padding: 1em 0 2em;
}

h1 {
	font-size: 1.5rem;
}

.logo span,
h1 span {
	color: #00b0ff;
}

a {
	color: inherit;
	text-decoration: none;
}
.container {
	max-width: 90%;
	margin: 0 auto;
}

.logo {
	font-size: 1.3rem;
}

/* buttons */
.btn {
	display: block;
	padding: 0.2em 1em;
	color: #00bfa6;
	font-weight: 600;
}

.btn-more {
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	margin-top: 2em;
}

.btn-live {
	border: 2px solid #00bfa6;
}
.btn-live:hover,
.btn-live:focus {
	background: #00bfa6;
	color: #fff;
}
.btn-code:hover {
	text-decoration: underline;
}

.btn-group {
	display: flex;
	gap: 20px;
	justify-content: space-between;
	padding: 1em 0;
}

/* layout */
.logo {
	line-height: 0.9;
}

.intro-section {
	display: grid;
	justify-content: start;
	padding: 6em 1em 10em;
}

.intro {
	font-size: 1.5rem;
	font-size: clamp(1.5rem, calc(2.5vw + 1rem), 4rem);
}

.intro span {
	color: #00bfa6;
}

.about-section {
	background: #00bfa6;
	color: #fff;
}

.about-section .container {
	display: flex;
	flex-direction: column;
}

.about-me {
	text-align: center;
	font-size: 3rem;
	text-transform: uppercase;
}

.project-section .container {
	display: grid;
}

.projects-header {
	font-size: 3rem;
	color: #00bfa6;
}

.project-name,
.projects-header {
	text-transform: uppercase;

	text-align: center;
}

.skills {
	font-size: 3rem;
	text-align: center;
	text-transform: uppercase;
	color: #00bfa6;
}

.skills-section li {
	font-size: 1.5rem;
	list-style: circle;
}
.skills-section li + li {
	margin-top: 1em;
}

.skills-section li::marker {
	color: #00bfa6;
}

.form {
	font-size: 2rem;
	text-align: center;
	text-transform: uppercase;
	color: #00bfa6;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

form label,
form input {
	display: block;
}

footer .container {
	display: flex;
	justify-content: space-between;
}

.footer-socials {
	display: flex;
	align-items: center;
}
