.contact {
	background: $yellow;
	color: $white;
	padding: 6em 0;

	&__title {
		text-align: center;
		font-size: 2rem;
	}

	&__form {
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;

		input,
		textarea {
			display: block;
			width: 100%;
			border: 0;
			font-family: inherit;
			font-size: 1rem;
			padding: 1em;
		}

		label {
			font-weight: 700;
			margin-top: 1em;
			display: block;
		}

		input {
		}
	}
}
