.footer {
	background: $purple;
	color: $white;
	padding: 1.5em;
	text-align: center;

	a {
		color: $white;
	}

	.logo {
		margin: 0;
	}

	.logo-intro {
		margin-top: 0;
	}

	&__links {
		display: flex;
		gap: 2em;
		justify-content: center;
		margin: 4em 0 0;

		.fab {
			font-size: 2em;
			transition: all 0.3s ease-in-out;

			&:hover {
				color: $cyan;
			}
		}
	}
}
