.header {
	background: $white;

	.logo {
		color: $dark-grey;
	}

	.nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.5em 0;

		span {
			color: $pale-grey;
			display: block;
		}
	}
}

// hero section

.hero {
	background: $light-grey;
	padding: 5em 0;
	@include desktop {
		min-height: 80vh;
	}

	.flex {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		@include desktop {
			flex-direction: row;
		}
	}

	&__info {
		&--title {
			font-size: 1.9rem;
			color: $dark-grey;
			line-height: 1.2;
			color: $blue;

			@include desktop {
				font-size: 3rem;
			}

			span {
				font-weight: 500;
				font-size: 1.5rem;
				color: $black;
			}
		}

		&--subtitle {
			max-width: 40ch;
			margin: 1em 0;
		}

		&--top-text {
			display: block;
			color: $blue;
			margin-bottom: 1em;
		}
	}

	&__img {
		display: none;

		@include desktop {
			display: block;
		}
	}
}
