.nav-container {
	background: $purple;

	a {
		color: $white;
	}
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5em;

	.logo {
		color: $cyan;
		font-weight: 700;
	}

	.intro {
		font-weight: 700;

		&:hover,
		&:focus {
			color: $cyan;
		}
	}
}

.social-header {
	display: none;

	ul {
		display: flex;

		.fab {
			font-size: 1.8em;

			&:hover,
			&:focus {
				color: $purple;
			}
		}
	}
	li + li {
		margin-left: 2em;
	}
}

// hero section
.hero {
	background: $blue;
	color: $white;
	display: grid;
	text-align: center;
	padding: 4em;
	height: 70vh;

	&__upper-text {
		margin: 1em 0 -1em;
		display: block;
		font-weight: 500;
	}

	.grid {
		margin: 2em auto 1em;
		display: grid;
		grid-template-columns: repeat(3, minmax(50px, 100px));
		gap: 0.5em;
		place-content: center;

		.logo {
			img {
				width: 60px;
			}
			padding: 0.2em;
			display: grid;
			place-items: center;
			background: $white;
			border-radius: 10px;
		}
	}
}

.hero-design {
	display: none;
}

.know-more {
	display: flex;
	gap: 0.5em;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	color: $pink;
}

// .scroll {
// 	width: 30px;
// 	margin-top: 2em;
// }

// animation
.circle {
	animation: circleAnim 1s infinite alternate-reverse;
}

@keyframes circleAnim {
	from {
		transform: translate(262px, 798px);
		z-index: 3;
	}
	to {
		transform: translate(262px, 830px);
	}
}

// media query for desktops
@include desktop {
	.hero {
		height: 90vh;
		display: grid;
		grid-template-columns: 66% auto;
		background: unset;
		padding: 0;

		.grid {
			place-content: unset;
		}

		&__content {
			background: $blue;
			padding: 6em 8em 6em 4em;
			text-align: left;

			h1 {
				font-size: 3em;
				line-height: 1.2;
			}

			.know-more {
				justify-content: flex-start;
			}
		}
	}

	.hero-design {
		display: unset;
		width: 100%;
		margin-left: -50%;
		margin-top: 5%;
	}

	.nav-container {
		display: grid;
		grid-template-columns: 66% auto;
		background: unset;
	}

	.header {
		background: $purple;
		padding: 2em 2em 2em 4em;
	}

	.social-header {
		padding: 2em 4em 2em 0;
		display: block;

		ul {
			justify-content: space-between;
			float: right;
		}

		a {
			color: $black;
			margin-left: 1em;
		}
	}
}
