.projects {
	background: $lightGray;

	&__container {
		display: grid;
		margin-bottom: 3em;
		a {
			order: -1;
		}
		a img {
			border-radius: 1em;
		}
	}
}

.project__title {
	// color: $blue;
}

.design-by {
	color: $blue;
}

.project__subtitle {
	max-width: 50ch;
	margin-left: auto;
	margin-right: auto;
	color: #252525;
}

.tools {
	font-weight: 500;
}

.btn-group {
	display: flex;
	gap: 1em;
	justify-content: center;
	margin: 1em 0;

	.btn {
		display: inline-block;
		padding: 0.6em 1.5em;
		color: $blue;
		font-weight: 700;
	}

	.btn-primary {
		border: 1px solid $blue;
		border-radius: 4px;
		transition: all 0.3s ease-in-out;
		background: $blue;
		color: $white;

		&:hover,
		&:focus {
			background: transparent;
			color: $blue;
		}
	}

	.btn-secondary:focus,
	.btn-secondary:hover {
		text-decoration: underline;
	}
}

// media query for tablets
@include tablets {
	.projects__container a {
		order: 0;

		img {
			margin-left: 2em;
		}
	}

	.projects__content {
		display: grid;
		place-content: center;
	}

	.project__subtitle {
		margin-left: unset;
	}

	.btn-group {
		justify-content: flex-start;
	}
}

@include desktop {
	know-more .projects__container a img {
		max-width: 500px;
	}
}
