.skills {
	text-align: center;
	padding: 4em 0;
	&__grid {
		display: grid;
		gap: 2em;
		align-items: center;
		justify-content: center;
		grid-template-columns: repeat(3, minmax(100px, 250px));

		.fab {
			font-size: 4rem;
		}

		.js {
			color: #f0db4f;
		}
		.bt {
			color: #7811f7;
		}
		.git {
			color: #f34f29;
		}
		.sass {
			color: #c69;
		}
		.css {
			color: #264de4;
		}
		.html {
			color: #e34c26;
		}
	}

	&__title {
		margin: 1.5em 0;
	}

	&__subtitle {
		max-width: 40ch;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 4em;
	}
}
